services:
  testpoint:
    container_name: perfsonar-testpoint
    image: ghcr.io/perfsonar/testpoint:5.2.2-systemd
    build:
      context: .
      dockerfile: systemd/Dockerfile
    cgroup: host
    environment:
      - TZ=UTC
    network_mode: "host"
    restart: unless-stopped
    tmpfs:
      - /run
      - /run/lock
      - /tmp
    volumes:
      - /sys/fs/cgroup:/sys/fs/cgroup:rw
      - /opt/testpoint/psconfig:/etc/perfsonar/psconfig
    tty: true
    pids_limit: 8192
    cap_add:
      - CAP_NET_RAW
